@model AgencyMAnagmentSystem.Models.Maid

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GIVEN_NAMES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GIVEN_NAMES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marital_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marital_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_issue_place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_issue_place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_issue_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_issue_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_expire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_expire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSelected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSelected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRejected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRejected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
